<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>

	<div th:fragment="community-body">
        <div  class="aui-banner-slide">
            <div class="aui-banner-main">
                <div class="aui-banner-wrapper bd">
                    <ul>
                        <li>
                            <img src="images/banner001.png" alt="">
                            <div class="aui-banner-button">
                                <a href="#">立即试用</a>
                            </div>
                        </li>
                        <li>
                            <img src="images/banner002.png" alt="">
                            <div class="aui-banner-button">
                                <a href="#">立即试用</a>
                                <a href="#" class="aui-btn-wh">了解详情</a>
                            </div>
                        </li>
                        <li>
                            <img src="images/banner003.png" alt="">
                            <div class="aui-banner-button">
                                <a href="#">立即成为代理</a>
                            </div>
                        </li>
                        <li>
                            <img src="images/banner004.png" alt="">
                            <div class="aui-banner-button aui-banner-button-mo">
                                <a href="#">成为合伙人</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="hd aui-banner-circle">
                    <ul>
                        <li class="on"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="aui-banner-news">
                <div class="aui-banner-news-box">
                    <ul>
                        <li>
                            <a href="#">
                                <div class="aui-bar-pic">
                                    <img src="images/icon-bar001.png" alt="">
                                </div>
                                <div class="aui-bar-head">
                                    <p class="aui-bar-title">网易七鱼发布全新品牌视频</p>
                                    <p class="aui-bar-text">从服务抵达智慧营销未来</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="aui-bar-pic">
                                    <img src="images/icon-bar002.png" alt="">
                                </div>
                                <div class="aui-bar-head">
                                    <p class="aui-bar-title">营销服务云</p>
                                    <p class="aui-bar-text">助力企业营销，促进客户转化</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="aui-bar-pic">
                                    <img src="images/icon-bar003.png" alt="">
                                </div>
                                <div class="aui-bar-head">
                                    <p class="aui-bar-title">智能客服机器人</p>
                                    <p class="aui-bar-text">千亿级消息训练，97%应答准确率</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</body>
</html>